body{
    font-family:'Montserrat', sans-serif !important;
}
#nav_bar{
    background-color: #f8f9fa;
}
.nav_ul_items{
    justify-content: end;
    font-weight:700;
}
#header_text_1{
    padding-inline: 2rem;
}
#header_text_2{
    padding-inline: 2rem;
}
#hero{
    background: linear-gradient(99.76deg, #FB9939 17.21%, #FC4734 89.4%);
    padding-top:6rem;
    padding-bottom: 4rem;
}
#hero_left_items{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-top: 2rem;
    flex-direction: column;
}
#hero_button{
    border:none;
    width:fit-content;
    padding:0.5rem;
    border-radius: 8px;
    padding-inline:0.75rem;
    font-weight:600;
}

#trending_courses_part_1{
    background-image: url(https://lifescool.app/images_new/lines%20bgh%201.png);
}
#trending_courses_part_2{
    background: linear-gradient(114.84deg, #FFE5E5 17.14%, #FFF1DC 86.97%);
    margin-top: -3.5rem;
}

.usual{
    display:flex;
    justify-content:center;
    align-items: center;
}
.coming_soon{
    color: #fff;
    background: linear-gradient(99.76deg, #FB9939 17.21%, #FC4734 89.4%);
    padding: 1% 5% 1% 2.75%;
    position: absolute;
    -webkit-clip-path: polygon(100% 0%, calc(100% - 0.75rem) 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0%, calc(100% - 0.75rem) 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03rem;
    bottom:2rem;
    font-size: calc(0.75rem + 0.5vw);
}
#courses_button{
    border:none;
    width:fit-content;
    padding:0.5rem;
    border-radius: 8px;
    padding-inline:0.75rem;
    font-weight:600;
    background-color: #f8f9fa;
}
#img_1{
    position:absolute;
    top:3rem;
}
#left_emojis{
    position:absolute;
    left:0;
    top:3rem
}
#right_emojis{
    position:absolute;
    right:0;
    top:3rem;
}
#learning{
    background-image: url(https://lifescool.app/images_new/lines%20bgh%201.png);

}
#teaching{
    background: linear-gradient(114.84deg, #FFE5E5 17.14%, #FFF1DC 86.97%);
}

.se-5-box {
    max-width: 650px;
    text-align: center;
    margin: auto;
    flex-direction: column;
    display: flex;
    height: 26em;
    justify-content: center;
    align-items: center;
}
#emoji{
    background: linear-gradient(99.76deg, #FFBF81 17.21%, #FFA57C 89.4%);
}
#get_in_touch{
    background-image: url(./images_new/input-background.png);
    height:30vh;
}

#get_in_touch{
    background-image: url(https://lifescool.app/images_new/lines%20bgh%201.png);
}

.last_input{
    padding:0.7rem;
    border: 1px solid #CECECE;
    border-radius: 12px;
    background: #FFF7EC;
    
}





@media (max-width: 1200px) {

    .text_1{
        font-size:16px !important;
    }  
    .text_2{
        font-size:14px !important;
    }
    .learning_heading_1{
        font-size: 16px !important;
    }
    .learning_heading_2{
        font-size: 15px !important;
    }
    .emoji_images{
        max-width: 90% !important;
    }
    #img_3_{
        top: 42% !important;
        left: -47% !important;
    }
    #img_6_{
        top: 39% !important;
    right: -40% !important;
    }
    #emoji_heading{
        font-size: calc(1.375rem + 1.5vw) !important;

    }
    
}

@media (max-width: 992px) {
    .nav_ul_items{
        align-items: center !important;
    }
    #hero_left_items{
        padding: 1rem !important;
    }
    #p1,#p2{
        margin:0 !important;
    }
    #left_emojis{
        width:22% !important;
    }
    #right_emojis{
        width:22% !important;
    }
    .text_1{
        font-size:13px !important;
    }
    .text_2{
        font-size:12px !important;
    }
    .learning_heading_1{
        font-size: 12px !important;
    }
    .learning_heading_2{
        font-size: 11px !important;
    }
    .teaching_image_container{
        padding:1.5ex !important;
    }
    .emoji_images{
        max-width: 85% !important;
    }
    #img_2_{
        top: 7% !important;
        left: -23% !important;
    }
    #img_3_{
        left: -36% !important;

    }
    #img_7_{
        top: 7% !important;
    right: -16% !important;
    }
    #img_6_{
        top: 41% !important;
    right: -26% !important;
    }
}

@media (max-width: 855px) {
    

    #left_emojis{
        width:17% !important;
    }
    #right_emojis{
        width:17% !important;
    }

}
@media (max-width: 822px){
    #big_text{
        font-size:11px !important ;
    }
}
@media (max-width: 786px){
    #big_text_2{
        font-size:12px !important;
    }
}

@media (max-width: 767px){
    #play_store{
        justify-content: flex-start !important;
        padding:1.5rem;
    }
    .coming_soon{
        position:absolute !important;
        left: 0.4em;
        bottom:2.5rem;
    }
    #p1{
        padding-top: 0.5rem;
    }
    #p2{
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
    }
    #left_emojis{
        display:none !important;
    }
    #right_emojis{
        display:none !important;
    }
    .text_1{
        font-size:18px !important;
    }  
    .text_2{
        font-size:16px !important;
    }
    #big_text{
        font-size:18px !important ;
    }
    #big_text_2{
        font-size:16px !important;
    }
    .learning_heading_1{
        font-size: 18px !important;
    }
    .learning_heading_2{
        font-size: 16px !important;
    }
    #img_2_, #img_3_, #img_6_, #img_7_{
        display:none !important;
    }
    .emoji_images{
        max-width: 70% !important;
    }
    #tail_text_1{
        text-align: center !important;
    }
    #tail_text_2{
        text-align: left !important;
        padding-left:0 !important;
    }
}
@media (max-width: 651px){

    #img_5_{
        right:-3% !important;
    }
    #img_4_{
        left:-3% !important;
    }
}
@media(max-width: 576px){
    #get_in_touch_padding{
        padding-left: 0.5rem !important;
        padding-right:0.5rem !important;
    }
    #tail_text_2,#tail_text_3{
        text-align:center !important;
    }
}